*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

/* navbar seciton here */

.navbar nav{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
    position: fixed;
    background-color: black;
    z-index: 999;
}

.logo h1{
    color: white;
    font-size: 40px;
    letter-spacing: 2px;
    cursor: pointer;
}

.menu ul li{
    list-style: none;
    display: inline;
    margin-right: 30px;
}

.menu ul li a{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
}

.menu ul li:last-child{
    margin-right: 0;
}

.menu-icon{
    width: 35px;
    height: 27px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
}

.menu-icon .line{
    width: 100%;
    height: 4px;
    background-color: rgb(206, 206, 206);
    border-radius: 25px;
}

.logo h1 span{
    color: #8c0000;
}

/* end of navbar seciton here */

/* landing section here */

.landing{
    width: 100%;
    height: 120vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/landing/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.landing-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.left h1{
    font-size: 60px;
    color: white;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 900;
}

.left h1 span{
    color: #1456b0;
}

.left h2{
    color: white;
    font-size: 50px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 900;
}

.left h2 span{
    color: #1456b0;
}

.btn-1{
    padding-top: 20px;
}

.btn-1 button{
    padding: 15px 45px;
    font-size: 25px;
    font-family: serif;
    border: none;
    outline: none;
    background-color: #fe5655;
    cursor: pointer;
}

.right{
    width: 430px;
    height: 300px;
    position: relative;
}

.right::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #982a2a;
    position: absolute;
    top: -30px;
    left: -30px;
    border-radius: 30px;
    border-top-right-radius: 0;
}

.right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 22%;
    border-radius: 30px;
    border-top-right-radius: 0;
    filter: brightness(50%);
    cursor: pointer;

}

/* end of landing section here */

/* box section here */

.box{
    padding: 100px 150px;
}

.box-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.box-items{
    width: 160px;
    height: 190px;
    box-shadow: 3px 3px 10px rgb(231, 231, 231);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 20px;
}

.box-items p{
    color: #f8912a;
    font-size: 70px;
    font-weight: bolder;
}

.box-items h3{
    text-align: center;
    font-family: serif;
    color: #6a6a6a;
}

/* end of box section here */

/* about me section here */

.about-box{
    width: 100%;
    height: 350px;
    background-image: url(../img/about/about.jpg);
    background-repeat: no-repeat;
    background-position: 10%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-box h1{
    color: rgb(243, 243, 243);
    font-size: 100px;
    font-weight: 100;
}

.about-me{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.about-me-container{
    width: 900px;
    height: 800px;
    /* box-shadow: 3px 3px 10px rgb(231, 231, 231); */
    overflow: hidden;
}

.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.tagline h1{
    font-size: 70px;
    font-weight: 900;
    font-family: sans-serif;
    text-transform: uppercase;
    color: #024841;
    letter-spacing: 2px;
}

.tagline h2{
    font-weight: 900;
    font-family: sans-serif;
    text-transform: uppercase;
    color: #024841;
    letter-spacing: 2px;
}

.profile{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #f8912a;
    overflow: hidden;
}

.profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text{
    margin-top: 135px;
}

.text p{
    font-family: sans-serif;
    font-weight: bolder;
    color: #6b6b6b;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-align: justify;
    line-height: 30px;
    margin-bottom: 40px;
}

.text p span{
    color: #1dccff;
    font-size: 25px;
    font-weight: 800;
}

/* end of about me section here */

/* skill section here */

.skill-container{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: 30px;
}

.skill-item{
    margin: 60px 60px;
}

.skill-item img{
    width: 150px;
}


/* end of skill section here */

/* portfolio section here */

.portfolio-container{
    padding: 0 30px;
}

.portfolio-container h1{
    font-size: 100px;
    font-family: sans-serif;
    font-weight: 900;
    color: #024841;
    margin-top: 50px;
    margin-bottom: 80px;
    text-align: center;
}

.portfolio-item{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item1{
    width: 45%;
    height: 60vh;
    margin: 20px;
}

.item1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 3px 3px 10px rgba(114, 114, 114, 0.4);
}

.item2{
    width: 100%;
    height: 80vh;
    margin: 20px;
}

.item2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 3px 3px 10px rgba(114, 114, 114, 0.4);
}

.item3 {
    width: 30%;
    height: 200vh;
    margin: 20px;

}

.item3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 3px 3px 10px rgba(114, 114, 114, 0.4);

}


/* end of portfolio section here */

/* contact section here */

.contact{
    width: 100%;
    margin-top: 200px;
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
    position: relative;
    transform: translateY(200px);
}

.contact-container{
    width: 90vw;
    height: auto;
    background-color: white;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.4);
    padding: 60px;
    display: flex;
    justify-content: space-between;
}

.left-contact{
    margin-top: 50px;
    width: 45%;
}

.contact-header h2{
    color: #024841;
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 100px;
}

.contact-form{
    margin-bottom: 50px;
}

.naming-section input{
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(151, 149, 149);
    width: 45%;
    padding: 0 0 10px 0;
    margin-bottom: 50px;
}

.naming-section input:nth-child(1){
    margin-right: 9%;
}

.naming-section input::placeholder{
    font-family: serif;
    font-size: 17px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.4);
}

.other-section input{
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(151, 149, 149);
    width: 100%;
    margin-right: 20px;
    padding: 0 0 10px 0;
    margin-bottom: 40px;
}

.other-section input::placeholder{
    font-family: serif;
    font-size: 17px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.4);
}

.contact-btn button{
    border: 3px solid #cd2727;
    outline: none;
    background-color: transparent;
    padding: 15px 35px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 60px;
    cursor: pointer;
}

.right-contact{
    width: 50%;
    height: auto;
}

.right-contact img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.background-shape{
    background-color: #fab1a0;
    width: 140%;
    height: 120%;
    position: absolute;
    top: 0;
    left: 0;
    /* border-radius: 50px; */
    transform: rotate(-7deg) translate(-10%, -11%);
    z-index: -1;
}

/* end of contact section here */

/* footer section here */


.footer{
    margin-top: 600px;
}

footer{
    width: 100%;
    height: 90vh;
    background-color: #351c3a;
    padding: 0 30px;
    position: relative;
}

.footer-logo h1{
    font-size: 80px;
    padding-top: 0px;
    padding-bottom: 40px;
    color: white;
}

.footer-logo h1 span{
    color: #8c0000;
}

.list1 p{
    color: white;
    font-family: sans-serif;
    text-align: left;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 22px;
    margin-bottom: 30px;
}

.list1 p span{
    color: #6f7e0a;
}

.listing{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 100px;
}

.social-media{
    width: 160px;
    display: flex;
}

.social-media img{
    width: 100%;
    object-fit: cover;
    margin-right: 25px;
    cursor: pointer;
}

.list1{
    margin-right: 20px;
    margin-bottom: 70px;
}

.list-items{
    margin-right: 20px;
    margin-bottom: 70px;
}

.list-items h2{
    font-size: 40px;
    color: white;
    font-weight: 900;
    font-family: sans-serif;
    margin-bottom: 20px;
    text-align: left;
}

.list-items ul li{
    list-style: none;
    margin-bottom: 15px;
}

.list-items ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);
    font-size: 18px;
    text-align: left;
}

.copyright{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    color: rgb(97, 97, 97);
    font-family: sans-serif;
    font-weight: 900;
    font-size: 12px;
    text-transform: uppercase;
    border-top: 2px solid rgb(97, 97, 97);
    text-align: center;
    padding: 15px 0;
}

/* end of footer section here */